[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
inotifyrecursive = "*"
daemonize = "*"
squirrel = {editable = true, path = "."}

[dev-packages]
codespell = "*"
flake8 = "*"
pipenv-setup = "*"

[requires]
python_version = "3.9"
