[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
inotifyrecursive = "*"
daemonize = "*"

[dev-packages]
codespell = "*"
flake8 = "*"

[requires]
python_version = "3.9"
